.notification{
    display: flex;
    flex-direction: column;
}
.notifyinfo{
    display: flex;
    justify-content: flex-start;
}
.notifybutton{
    color: white;
    line-height: 0;
    height: 30px;
    width: 80px;
    margin-left: 100px;
}
.notifybutton:hover{
    background-color: lightblue;
}
.notificationbody{
    max-width: 100% !important;
    overflow-y: scroll;
    max-height: 100vh;
    height: 70vh;
    
}
.notificationbody::-webkit-scrollbar {
    display: none;
  }
  .yogiimg{
    line-height: 0;
    height: 50px;
    width: 50px;
    margin-left: 100px;
  }